.center {
text-align: center;
}

button{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #333;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0066DB;
    padding: 14px 40px;
    outline: none;
    color: #151515;
    border-radius: 24px;
    transition: 0.75s;
    cursor: pointer;
}

button:hover{
    background: #0066DB;
    color: #fff;
}

.copyright{

font-size: 30px;
font-family: "Roboto";

}
